@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    border: none;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2b1055;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background: white;
}

.logo-container {
    text-align: center;
    margin-top: 20px;
}

.logo-container img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.text {
    font-size: 24px;
    font-weight: bold;
}


.filter-form {
    margin-top: 20px;
    text-align: center;
}

.filter-form label {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}

.filter-form input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.filter-form input:focus {
    border-color: rgb(57, 57, 226);
}

.filtered-row {
    background-color: rgba(57, 57, 226, 0.1);
    transition: background-color 0.3s ease;
}

.filtered-row:hover {
    background-color: rgba(57, 57, 226, 0.3);
}

.header {
    min-height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 12px;
}

.header span {
    font-weight: 900;
    font-size: 20px;
    word-break: break-all;
    display: flex;
    align-items: center;
}

#new {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 40px;
    height: 40px;
    border: none;
    background: none; 
}

#new i {
    font-size: 20px;
    margin-right: 0px;
}

.divTable {
    padding: 10px;
    width: auto; 
    height:inherit; 
    overflow:auto;
}

.divTable::-webkit-scrollbar {
    width: 12px;
    background-color: whitesmoke; 
}

.divTable::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: darkgray; 
}

table {
    width: 100%;
    border-spacing: 10px;
    word-break: break-all;
    border-collapse: collapse;
}

thead {
    background-color: whitesmoke;
}

tr {
    border-bottom: 1px solid rgb(238, 235, 235)!important;
}

tbody tr {
    margin-bottom: 50px;
}

thead tr th {
    padding: 5px;
    text-align: start;
}

thead tr th.acao {
    width: 100px!important;
    text-align: center;
}

tbody tr td {
    vertical-align: text-top;
    padding: 6px;
    max-width: 50px;
}

tbody tr td.acao {
    text-align: center;
}

.modal-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
    align-items: center;
    justify-content: center;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    width: 50%;
}

.modal label {
    font-size: 14px;
    width: 100%;
}

.modal input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 100%;
}

.modal button {
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: rgb(57, 57, 226);
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.active {
    display: flex;
}

.active .modal {
    animation: modal .4s;
}


@media (max-width: 700px) {
    body {
        font-size:    10px;
    }

    .header span {
        font-size: 15px;
    }

    #new {
        padding: 5px;
        font-size: 10px;
    }

    thead tr th.acao {
        width: auto!important;
    }

    td button i {
        font-size: 20px!important;
    }

    td button i:first-child {
        margin-right: 0;
    }

    .modal {
        width: 90%!important;
    }

    .modal label {
        font-size: 12px!important;
    }
}

@media screen and (max-width: 480px) {
    .container {
        width: 95%;
    }
    
    .header span {
        font-size: 15px;
    }
    
    #new {
        width: 30px;
        height: 30px;
    }
    
    #new i {
        font-size: 16px;
    }
    
    .modal {
        width: 90%!important;
    }
    
    .modal label {
        font-size: 12px!important;
    }

    table {
        max-width: 100%;
    }

    tbody tr td {
        padding: 4px;
        font-size: 12px;
    }

    thead tr th {
        padding: 4px;
        font-size: 12px;
    }

    .divTable {
        overflow-x: auto;
    }
    
    .modal input {
        font-size: 12px;
    }
}

td button {
    border: none;
    outline: none;
    background: transparent;
}

td button i {
    font-size: 25px;
}

td button i:first-child {
    margin-right: 10px;
}

.modal label {
    font-size: 14px;
    margin-top: 10px;
    display: block;
}

.modal input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 100%;
}

.modal button {
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: #2b1055;
    color: white;
    font-size: 16px;
    width: 100%;
}